@using WebStore.DomainModels.Models
@model WebStore.DomainModels.Models.CatalogViewModel
@{
	ViewData["Title"] = "Shop";
    var type = Context.Request.Query.ContainsKey("sectionId") ?
        BreadcrumbType.Section : Context.Request.Query.ContainsKey("brandId") ?
            BreadcrumbType.Brand : BreadcrumbType.None;
    // Устанавливаем дефолтное значение источника
    var fromType = BreadcrumbType.Section;
    // Если это метод деталей товара
    if ((string)ViewContext.RouteData.Values["action"] == "ProductDetails")
    {
// Устанавливаем тип товар
        type = BreadcrumbType.Item;
    }
    var id = 0;
    switch (type)
    {
        case BreadcrumbType.None:
            break;
        case BreadcrumbType.Section:
            id = int.Parse(Context.Request.Query["sectionId"].ToString());
            break;
        case BreadcrumbType.Brand:
            id = int.Parse(Context.Request.Query["brandId"].ToString());
            break;
        case BreadcrumbType.Item:
            if (Context.Request.Query.ContainsKey("fromBrand"))
            {
                fromType = BreadcrumbType.Brand;
            }
            id = int.Parse(ViewContext.RouteData.Values["id"].ToString());
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
}

@section top{
	@await Html.PartialAsync("Shop/Advertisement").ConfigureAwait(false)
}



<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                @(await Component.InvokeAsync("Breadcrumbs", new { type, id, fromType }).ConfigureAwait(false))
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Common/LeftSideBar").ConfigureAwait(false)
            </div>

            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("Shop/ShopItems", Model.Products).ConfigureAwait(false)
                <paging page-model="Model.PageViewModel" page-action="Shop"
                        page-url-sectionId="@Model.SectionId"
                        page-url-brandId="@Model.BrandId"></paging>



            </div>
        </div>
    </div>
</section>